body{
    background-color: rgb(245, 226, 237);
}
form{
    width: 50vw;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
    margin: 20px auto;
}
.form-group{
    padding: 10px;
}
.genero{
    margin-top: 10px;
}
textarea{
    min-height: 100px;
    min-width: 100%;
    max-height: 200px;
    resize: vertical;
}
.boton_enviar{
    margin: auto;
    display: flex;

}
.error-message {
    color: red;
    font-size: 14px;
}


